/* Fondo del Login */
.fondo-login {
  background: url('/images/fondologin.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-box {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 500px;
}

.login-box h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #007bff;
  font-weight: bold;
}

.login-box button {
  background: #007bff;
  border: none;
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  background: #0056b3;
}

/* Fondo del registro */
.fondo-registro {
  background: url('/images/fondoformulario.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.register-box {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 500px;
}

.register-box h3 {
  text-align: center;
  margin-bottom: 25px;
  color: #007bff;
  font-weight: bold;
}

.register-box button {
  background: #007bff;
  border: none;
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
}

.register-box button:hover {
  background: #0056b3;
}
